:root {
    --purple-50:hsl(260, 100%, 95%);
    --purple-300:hsl(264, 82%, 80%);
    --purple-500:hsl(263, 55%, 52%);
    --white:hsl(0, 0%, 100%);
    --black:hsl(0, 0%, 7%);
    --grey-100:hsl(214, 17%, 92%);
    --grey-200:hsl(0, 0%, 81%);
    --grey-400:hsl(224, 10%, 45%);
    --grey-500:hsl(217, 19%, 35%);
    --weird-blue:hsl(228, 45%, 44%);
    --dark-blue:rgba(25, 33, 46, 1);


}

@font-face {
    font-family: Barlow;
    src: url('https://fonts.google.com/specimen/Barlow+Semi+Condensed');
}

html {
    --name-color:var(var(--grey-100));
    --status-color:var(var(--grey-100));
    --name-mar:2px;
    --alt-name-color:var(var(--grey-500));
    --alt-status-color:var(var(--grey-500));
}

* {
    font-family: Barlow,sans-serif;
    font-size: 20px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     min-height: 100vh;
     background-color: wheat;
}

.box {
    border: 2px solid transparent;
    border-radius: 15px;
    padding: 10px;
    margin:5px;
    box-shadow:10px 10px 10px 10px var(--grey-400) ;
}

.box h1 {
    color:var(--grey-200);
    font-weight:bolder;
}

.test {
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr ;
  gap:15px;
  margin-block-end: 2px;
  background-color: transparent
}

.profile {
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: transparent;
    
}


img {
    height: 56px;
    width: 56px;
    align-self: center;
    border-radius: 50%;
    border: 2px solid turquoise;
}

.info {
    display: flex;
    flex-direction: column;
}


.name {
    margin-block-end: 2px;
} 

.status {
    /* color:var(--grey-500); */
    margin-block-start: 1px;
} 

.box-1, .box-2, .box-4 {
    color: var(--white);
}



.box-1 .name, .box-2 .name, .box-4 .name {
    color:var(--grey-100);
}

.box-1 .status, .box-2 .status, .box-4 .status {
    color:var(--grey-100);
}


.box-3 .name, .box-3 .status, .box-5 .name, .box-5 .status, .box-3 p, .box-5 p {
    color:var(--dark-blue);
}


.box-1 {
    grid-column-start: span 2 ;
    grid-row-start: span 1;
    background-color: var(--purple-500);
    background-image: url('./images/bg-pattern-quotation.svg');
    background-repeat: no-repeat;
   background-position:80% 0%;
}


.box-2 {
    grid-column-start:3;
    background-color:var(--grey-400) ;
}

.box-3 {
    grid-column-start: 4;
    grid-row-start:span 3;
    background-color: var(--white);
    color: var(--weird-blue)
}



.box-4 {
    grid-column:1/2;
    grid-row:2/3;
    background-color:var(--dark-blue);
}


.box-5 {
    grid-column: 2/4;
    grid-row:2/3;
    background-color: var(--white);
    color:var(--grey-500);
}



.attribution {
        font-size: 14px;
        text-align: center;
      }

      .attribution a 
      {
        color: white;
          font-size: 14px;
        text-decoration: none;
      }


@media screen and (width <= 375px ) {
    .test {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        background-color: transparent;
    }

    .box-1, .box-2, .box-3, .box-4, .box-5 {
    grid-column: auto;
    grid-row: auto;
    /* border: 5px solid green; */
}

}
    

@media (width >= 1024px){
    .test {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "one one two five"
        "three four four five";
    }

    .box-1 {
        grid-area: one;
    }

    .box-2 {grid-area: two;}
    .box-3 {grid-area: three;}
    .box-4 {grid-area: four ;}
    .box-5 {grid-area: five;}
}

    
